SECRET_KEY=poner_clave_secreta_de_flask
JWT_SECRET_KEY=poner_clave_secreta_para_jwt
API_KEY=poner_api_key_interna
DATABASE_URL=sqlite:///smartgastro.db

OPENWEATHER_API_KEY=poner_api_key_de_openweather
OPENWEATHER_CITY=Buenos Aires
OPENWEATHER_LAT=-34.6037
OPENWEATHER_LON=-58.3816